.header img
{
  padding: 20px;
}
.header img
{
  width: 150px;
  height:150px;
  boder-radius: 50%;
}
.qualification .degree_list
{
  line-height: 2.0;
  font-size: 15px;
}
.hobbies .hobby_list
{
  line-height: 2.0;
  font-size: 15px;
}
